@font-face {
	font-family: "San Francisco";
	src: url(../fonts/SF-Pro-Display-Light.otf);
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "San Francisco";
	src: url(../fonts/SF-Pro-Display-Regular.otf);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "San Francisco";
	src: url(../fonts/SF-Pro-Display-Medium.otf);
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "San Francisco";
	src: url(../fonts/SF-Pro-Display-Semibold.otf);
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "San Francisco";
	src: url(../fonts/SF-Pro-Display-Bold.otf);
	font-style: normal;
	font-weight: 700;
}
